# Review results from different models
### Both Bert and HApy

In [3]:
from module.evaluate import load_dev_labels, get_metrics
import pandas as pd
import numpy as np
import pickle as pkl
from sklearn.metrics import roc_auc_score

## get result for final test by model:
infer_result_ft_m0.pkl  #inferred results of model 0 on final test  
infer_result_wiki_m0.pkl #inferred results of model 0 on wiki  
infer_result_enr_m0.pkl #inferred results of model 0 on enron  
infer_result_imdb_m0.pkl #inferred results of model 0 on IMDB  
infer_result_ft_m1.pkl  #inferred results of model 1 on final test    

##### model 0: trained on wiki toxicity comments
##### model 1: continue training model 0 on labeled enron email
##### model 2: continue training model 1 on IMDB review - interim
##### model 3: continue training model 1 on IMDB review - final

In [4]:
final_test = pd.read_csv("/data/SuperMod/final_test.csv")
enron_test = pd.read_csv("/data/SuperMod/data_supermod_test.csv")
imdb_test = pd.read_csv("/data/SuperMod/imdb_test.csv")
wiki_test = pd.read_csv("/data/ToxicityDataOld/test_with_labels.csv")

In [5]:
final_test_actual = final_test.toxicity
enron_test_actual = enron_test.toxicity
imdb_test_actual = imdb_test.toxicity
wiki_test_actual = wiki_test.toxic

In [6]:
final_test.head()

                                        comment_text  toxicity    degree
0  Jane:\n \nI went through your presentation.  A...         1      mild
1  Jane:\n \nI went through your presentation.  A...         0      none
2  All,\n\nThis was my idea. I have been suggesti...         1  moderate
3  All,\n\nI understand we are deciding on an ide...         0      none
4  Mark:\n\nWe had four months to prepare for thi...         1  moderate

In [7]:
len(final_test)

50

In [8]:
enron_test.head()

   Unnamed: 0                                       comment_text  toxicity
0        1455  MEN.....Stop Being Ashamed Of Your Penis Size!...         1
1        2971  all yoursteresa bosienatenron02/21/2001 04:07 ...         0
2        4255  This type of shit always happens to Crowell.\r...         1
3        5504     thanks doc  sounds like fun  see you saturday!         0
4        3867  a psych student could write a dissertation abo...         0

In [9]:
imdb_test.head()

   Unnamed: 0                                       comment_text  toxicity
0       40552  I gave this film my rare 10 stars.<br /><br />...         0
1        6106  This is one of the best films I have seen in y...         0
2       27831  About halfway through, I realized I didn't car...         1
3       28253  The only good part of this movie was the endin...         1
4       37221  After reading several comments, I felt I had t...         0

In [10]:
wiki_test.head()

,Unnamed: 0,id,comment_text,id.1,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,5,0001ea8717f6de06,Thank you for understanding. I think very high...,0001ea8717f6de06,0,0,0,0,0,0
1,7,000247e83dcc1211,:Dear god this site is horrible.,000247e83dcc1211,0,0,0,0,0,0
2,11,0002f87b16116a7f,"""::: Somebody will invariably try to add Relig...",0002f87b16116a7f,0,0,0,0,0,0
3,13,0003e1cccfd5a40a,""" \n\n It says it right there that it IS a typ...",0003e1cccfd5a40a,0,0,0,0,0,0
4,14,00059ace3e3e9a53,""" \n\n == Before adding a new product to the l...",00059ace3e3e9a53,0,0,0,0,0,0

In [11]:
with open("/data/SuperMod/infer_result_ft_m0.pkl", 'rb') as w:
    final_test_result_m0 = pkl.load(w)
with open("/data/SuperMod/infer_result_ft_m1.pkl", 'rb') as w:
    final_test_result_m1 = pkl.load(w)
with open("/data/SuperMod/infer_result_ft_m2.pkl", 'rb') as w:
    final_test_result_m2 = pkl.load(w)
with open("/data/SuperMod/infer_result_ft_m3.pkl", 'rb') as w:
    final_test_result_m3 = pkl.load(w)

In [12]:
get_metrics(np.asarray(final_test_actual), np.asarray(final_test_result_m0))

(50,)
(50,)
True Positives per class :  12
False Positives per class :  0
False Negatives per class :  20
Accuracy : 0.6000, Precision : 1.000, Recall : 0.375, F1 : 0.545

(0.6, 1.0, 0.375, 0.5454545454545454)

In [13]:
get_metrics(np.asarray(final_test_actual), np.asarray(final_test_result_m1))

(50,)
(50,)
True Positives per class :  20
False Positives per class :  2
False Negatives per class :  12
Accuracy : 0.7200, Precision : 0.909, Recall : 0.625, F1 : 0.741

(0.72, 0.9090909090909091, 0.625, 0.7407407407407406)

In [14]:
get_metrics(np.asarray(final_test_actual), np.asarray(final_test_result_m2))

(50,)
(50,)
True Positives per class :  21
False Positives per class :  2
False Negatives per class :  11
Accuracy : 0.7400, Precision : 0.913, Recall : 0.656, F1 : 0.764

(0.74, 0.9130434782608695, 0.65625, 0.7636363636363634)

In [15]:
get_metrics(np.asarray(final_test_actual), np.asarray(final_test_result_m3))

(50,)
(50,)
True Positives per class :  21
False Positives per class :  2
False Negatives per class :  11
Accuracy : 0.7400, Precision : 0.913, Recall : 0.656, F1 : 0.764

(0.74, 0.9130434782608695, 0.65625, 0.7636363636363634)

In [16]:
roc_auc_score(final_test_actual,final_test_result_m0)

0.8489583333333334

In [17]:
roc_auc_score(final_test_actual,final_test_result_m1)

0.8819444444444444

In [18]:
roc_auc_score(final_test_actual,final_test_result_m3)

0.8871527777777778

## Curriculum training definitely made it better suited for our goal
AUROC increased as well

## Next, run the final model on all datasets

In [27]:
with open("/data/SuperMod/infer_result_wiki_m3.pkl", 'rb') as w:
    wiki_result_m3 = pkl.load(w)
with open("/data/SuperMod/infer_result_enr_m3.pkl", 'rb') as w:
    enron_result_m3 = pkl.load(w)
with open("/data/SuperMod/infer_result_imdb_m3.pkl", 'rb') as w:
    imdb_result_m3 = pkl.load(w)

In [28]:
get_metrics(np.asarray(enron_test_actual), np.asarray(enron_result_m3))

(820,)
(820,)
True Positives per class :  122
False Positives per class :  39
False Negatives per class :  35
Accuracy : 0.9098, Precision : 0.758, Recall : 0.777, F1 : 0.767

(0.9097560975609756,
 0.7577639751552795,
 0.7770700636942676,
 0.7672955974842768)

In [29]:
get_metrics(np.asarray(wiki_test_actual), np.asarray(wiki_result_m3))

(63978,)
(63978,)
True Positives per class :  5662
False Positives per class :  20304
False Negatives per class :  428
Accuracy : 0.6760, Precision : 0.218, Recall : 0.930, F1 : 0.353

(0.6759511081934415,
 0.21805437880305015,
 0.9297208538587849,
 0.3532568005989518)

In [30]:
get_metrics(np.asarray(imdb_test_actual), np.asarray(imdb_result_m3))

(5000,)
(5000,)
True Positives per class :  1987
False Positives per class :  405
False Negatives per class :  526
Accuracy : 0.8138, Precision : 0.831, Recall : 0.791, F1 : 0.810

(0.8138, 0.830685618729097, 0.7906884202148826, 0.8101936799184506)

In [63]:
final_test['pred_hapy'] = final_test_result_m3
final_test.head()

,comment_text,toxicity,degree,pred_bert,pred_hapy
0,Jane:\n \nI went through your presentation. A...,1,mild,0.243680,0.623182
1,Jane:\n \nI went through your presentation. A...,0,none,0.013712,0.087065
2,"All,\n\nThis was my idea. I have been suggesti...",1,moderate,0.988307,0.907939
3,"All,\n\nI understand we are deciding on an ide...",0,none,0.006379,0.024306
4,Mark:\n\nWe had four months to prepare for thi...,1,moderate,0.114225,0.915089

In [35]:
sum(final_test['pred_hapy'] > 0.5

23

## Next, run the interim model for the data it just read

In [38]:
with open("/data/SuperMod/infer_result_enr_m1.pkl", 'rb') as w:
    enron_result_m1 = pkl.load(w)
with open("/data/SuperMod/infer_result_wiki_m0.pkl", 'rb') as w:
    wiki_result_m0 = pkl.load(w)

### This is running the m1 on enron:
i.e model built on enron_train + wiki_train and test on enron_test

In [39]:
get_metrics(np.asarray(enron_test_actual), np.asarray(enron_result_m1))

(820,)
(820,)
True Positives per class :  135
False Positives per class :  15
False Negatives per class :  22
Accuracy : 0.9549, Precision : 0.900, Recall : 0.860, F1 : 0.879

(0.9548780487804878, 0.9, 0.8598726114649682, 0.8794788273615636)

### This is running the m0 on wiki:
i.e model built on wiki_train and test on wiki_train

In [40]:
get_metrics(np.asarray(wiki_test_actual), np.asarray(wiki_result_m0))

(63978,)
(63978,)
True Positives per class :  5409
False Positives per class :  7472
False Negatives per class :  681
Accuracy : 0.8726, Precision : 0.420, Recall : 0.888, F1 : 0.570

(0.8725655694144863,
 0.41992081360142847,
 0.8881773399014778,
 0.5702387855147331)

## Now reading results from Bert results

In [42]:
enron_final_bert = pd.read_csv("/data/SuperMod/Bert_result/csv_files_from_pybert_for_analysis/enron_test_with_wiki_enron_imdb_trained_pybert.csv")
enron_interim_bert = pd.read_csv("/data/SuperMod/Bert_result/csv_files_from_pybert_for_analysis/enron_test_with_wiki_enron_trained_pybert.csv")

In [44]:
enron_final_bert_val= enron_final_bert.supermod_inferred_results
enron_interim_bert_val= enron_interim_bert.supermod_inferred_results

### This is running the bert interim on enron:
i.e Bert built on enron_train + wiki_train and test on enron_test

In [60]:
get_metrics(np.asarray(enron_test_actual), np.asarray(enron_interim_bert_val))

(820,)
(820,)
True Positives per class :  148
False Positives per class :  3
False Negatives per class :  9
Accuracy : 0.9854, Precision : 0.980, Recall : 0.943, F1 : 0.961

(0.9853658536585366,
 0.9801324503311258,
 0.9426751592356688,
 0.9610389610389611)

### This is running the bert interim on wiki and final on final test and imdb
i.e Bert built on wiki_train and test on wiki_test

In [48]:
wiki_interim_bert = pd.read_csv("/data/SuperMod/Bert_result/csv_files_from_pybert_for_analysis/wiki_test_with_only_wiki_trained.csv")
final_final_bert = pd.read_csv("/data/SuperMod/Bert_result/csv_files_from_pybert_for_analysis/final_test_with_wiki_enron_imdb_trained_pybert.csv")
imdb_final_bert = pd.read_csv("/data/SuperMod/Bert_result/csv_files_from_pybert_for_analysis/imdb_test_with_wiki_enron_imdb_trained_pybert.csv")

In [49]:
wiki_interim_bert_val= wiki_interim_bert.supermod_inferred_results
final_final_bert_val= final_final_bert.supermod_inferred_results
imdb_final_bert_val= imdb_final_bert.supermod_inferred_results

In [53]:
get_metrics(np.asarray(wiki_test_actual), np.asarray(wiki_interim_bert_val))

(63978,)
(63978,)
True Positives per class :  5343
False Positives per class :  3812
False Negatives per class :  747
Accuracy : 0.9287, Precision : 0.584, Recall : 0.877, F1 : 0.701

(0.9287411297633561,
 0.5836155106499181,
 0.8773399014778325,
 0.7009511315185306)

In [51]:
get_metrics(np.asarray(imdb_test_actual), np.asarray(imdb_final_bert_val))

(5000,)
(5000,)
True Positives per class :  2251
False Positives per class :  121
False Negatives per class :  262
Accuracy : 0.9234, Precision : 0.949, Recall : 0.896, F1 : 0.922

(0.9234, 0.9489881956155143, 0.895742140867489, 0.921596724667349)

In [57]:
get_metrics(np.asarray(final_test_actual), np.asarray(final_final_bert_val)[:50])

(50,)
(50,)
True Positives per class :  19
False Positives per class :  4
False Negatives per class :  13
Accuracy : 0.6600, Precision : 0.826, Recall : 0.594, F1 : 0.691

(0.66, 0.8260869565217391, 0.59375, 0.6909090909090908)

### This is running the bert final on enron:
i.e Bert built on enron_train + wiki_train + IMDB train and test on enron_test

In [61]:
get_metrics(np.asarray(enron_test_actual), np.asarray(enron_final_bert_val))

(820,)
(820,)
True Positives per class :  130
False Positives per class :  19
False Negatives per class :  27
Accuracy : 0.9439, Precision : 0.872, Recall : 0.828, F1 : 0.850

(0.9439024390243902, 0.87248322147651, 0.8280254777070064, 0.8496732026143791)

In [64]:
final_test['pred_bert'] = final_final_bert_val[:50]
final_test.head()

,comment_text,toxicity,degree,pred_bert,pred_hapy
0,Jane:\n \nI went through your presentation. A...,1,mild,0.243680,0.623182
1,Jane:\n \nI went through your presentation. A...,0,none,0.013712,0.087065
2,"All,\n\nThis was my idea. I have been suggesti...",1,moderate,0.988307,0.907939
3,"All,\n\nI understand we are deciding on an ide...",0,none,0.006379,0.024306
4,Mark:\n\nWe had four months to prepare for thi...,1,moderate,0.114225,0.915089

## To be aggressive, we can combine both Bert and HApy,
whenever a model detects possible toxicity, we call it toxic

In [77]:
final_test['pred_comb'] = [1 if (x >= 0.5 or y >= 0.5) else 0 for (x,y) in zip(final_test.pred_bert, final_test.pred_hapy)]

In [78]:
get_metrics(np.asarray(final_test_actual), np.asarray(final_test['pred_comb'] ))

(50,)
(50,)
True Positives per class :  23
False Positives per class :  4
False Negatives per class :  9
Accuracy : 0.7400, Precision : 0.852, Recall : 0.719, F1 : 0.780

(0.74, 0.8518518518518519, 0.71875, 0.7796610169491525)